@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width:100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
/*Find a way to cut it so its about 200px in height 
*/	
}

.fillheight {
    min-height: 100%;
    width: auto;
/* Not working to fix height to the 200px of the box*/
}

.subject-name {
	font-size: 1.8em;
	text-align: right;
	color: black;
	vertical-align: middle;
}

.name-description {
	font-size: 1em;
	text-align: right;
	color: #71a4a4;
	vertical-align: middle;
	font-style: italic;
}

.box {
	min-height: 150px;
	max-height: 200px;
	background-color: white;
	width: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.first-proj {
	position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 420px) {
	.small-bio, {
		color: blue;
		width: 50%;
		text-align: center;
	}
	
	.big-pic {
	
	}

	.name {
		color: black;
		width: 67%;
		text-align: center;
	}
	
	.logo {
		width: 33%;
		vertical-align: middle;
	}
	
	.subject-name {
		font-size: 5vw;
	}

	.name-description {
		font-size: 1em;
	}
}

@media screen and (min-width: 601px) {
	.small-bio, .big-pic {
		color: blue;
		width: 50%;
	}
	
	.logo {
		width: 33%;
	}
	
	.name {
		color: black;
		width: 67%;
	}
	
	.subject-name {
		font-size: 5vw;
	}

	.name-description {
		font-size: 1em;
	}
}

@media screen and (min-width: 801px) {
	.container {
		width: 801px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.subject-name {
		font-size: 40px;
	}
	
	.name-description {
		font-size: 20px;
	}
}
