
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

html, body {
	margin: 0;
	padding: 0;
	border: 5px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width:100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.fillheight {
    min-height: 100%;
    width: auto;
/* Not working to fix height to the 200px of the box*/
}

.subject-name {
	font-size: 1.8em;
	text-align: right;
	color: black;
}

.name-description {
	font-size: 1em;
	text-align: right;
	color: #71a4a4;
}

.box {
	min-height: 100px;
	max-height: 200px;
}

.projects {
	background-color: #2A457A;
	color: #efefef;
}

.first-proj, .second-proj {
	position: relative;
    text-align: center;
    color: white;
	width: 30%;
	display: block;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-bio {
	background-color: #099DD9;
}

.big-pic {
	background-color: white;
	min-width: 100%;
	max-height: 200px;
	padding: 10px;
/*Find a way to cut it so its about 200px in height 
*/	
}

.logo {
	background-color: white;
}

.name {
	background-color: white;
}
